<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolio{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        
        <style>
        {% block stylesheets %}{% endblock %}
        .nav {
            background-color: {{ themeColor }} !important;
        }
        .vert-align {
            display: inline-block;
            vertical-align: middle;
            float: none;
            padding: 0.25em;
        }
        .resize {
            min-height: 291px;
            max-height: 291px;
        }
        body {
            background-color: {{ darkMode }} !important;
            color: {% if darkMode == '#212121' %}white{% endif %} !important;
        }
        .large-img {
            display: block;
            max-height: 1000px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: {% if darkMode == '#212121' %}0 2px 20px rgb(0, 0, 0);{% else %}0 2px 20px rgb(116, 116, 116);{% endif %}
            margin-top: 3em;
        }
        .img-thumbnail {
            background-color: {% if darkMode == '#212121' %}#424242;{% else %}#DDD;{% endif %}
            border-color: {% if darkMode == '#212121' %}#424242;{% else %}#DDD;{% endif %}
            box-shadow: {% if darkMode == '#212121' %}0 2px 7px rgb(0, 0, 0);{% else %}0 2px 7px rgb(146, 146, 146);{% endif %}
        }
        .center {
            text-align: center;
        }
        .btn.btn-primary {
            color: {{ themeColor }} !important;
            font-weight: bold;
        }
        .card {
            background-color: {% if darkMode == '#212121' %}#424242;{% else %}#DDD;{% endif %}
            color: {% if darkMode == '#212121' %}white{% endif %} !important;
        }
        .col-row {
            padding: 50px;
            margin-top: 20px;
            background-color: {% if darkMode == '#212121' %}#424242;{% else %}#DDD;{% endif %}
            border-radius: 7px;
            box-shadow: {% if darkMode == '#212121' %}0 2px 7px rgb(0, 0, 0);{% else %}0 2px 7px rgb(146, 146, 146);{% endif %}
        }
        .btn-primary {
            text-decoration: none !important;
            color: {{ themeColor }} !important;
        }
        .page-item.active .page-link {
            color: #fff;
            background-color: {{ themeColor }};
            border-color: {{ themeColor }};
        }
        .page-link {
            color: {{ themeColor }};
        }
        .page-link:hover {
            color: {{ themeColor }};
        }
        .page-link:focus {
            box-shadow: 0 0 0 .2rem {{ themeColor }}aa;
        }
        .dropdown-menu {
            background-color: {% if darkMode == '#212121' %}#424242;{% else %}#EEE;{% endif %}
            color: {% if darkMode == '#212121' %}white{% endif %} !important;
        }
        .dropdown-item {
            color: {% if darkMode == '#212121' %}white{% endif %} !important;
        }
        .dropdown-item.active {
            background-color: {% if darkMode == '#212121' %}#646464 !important;{% else %}#CCC !important;{% endif %}
        }
        .dropdown-item:focus, .dropdown-item:hover {
            background-color: {% if darkMode == '#212121' %}#646464 !important;{% else %}#CCC !important;{% endif %}
        }
        .disabled {
            color: grey !important;
        }
        </style>
    </head>
    <body>
        <ul class="nav nav-tabs bg-primary">
          <li class="nav-item">
            <a class="nav-link {% if active == 'index' %}active{% endif %}" href="{{ path('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active == 'list' %}active{% endif %}" href="{{ path('photos') }}">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active == 'collection' %}active{% endif %}" href="{{ path('collection') }}">Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active == 'about' %}active{% endif %}" href="{{ path('about') }}">About</a>
          </li>
        </ul>
        {% block body %}
        
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
