{% set themeColor = themeColor %}
{% set darkMode = darkMode %}
{% extends 'base.html.twig' %}

{% block title %}Portfolio | Photos{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block body %}

<div class="container-lg">
<form action="" method="post">
    <button type="submit" class="btn btn-primary" name="random" value="random">Randomize</button>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter by 
        </button>
        <div class="dropdown-menu">
          <button type="submit" name="filter" value="view" class="dropdown-item{% if activeFilter == 'view' %} active{% endif %}">Most viewed</button>
          <button type="submit" name="filter" value="fave" class="dropdown-item{% if activeFilter == 'fave' %} active{% endif %}">Most favourited</button>
          <button type="submit" name="filter" value="comment" class="dropdown-item{% if activeFilter == 'comment' %} active{% endif %}">Most commented</button>
        </div>
    </div>
</form>
</div>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        {% for photo in photos %}
            <div class="col-{breakpoint}-auto vert-align">
                <a href="{{ path('photoShow', {'id' : photo.id}) }}"><img class="resize img-thumbnail" src="{{ photo.photo }}" alt=""></a>
            </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% for page in range(1, pages) %}
                {% if page == actualPage %}
                    <li class="page-item active"><span class="page-link">{{ actualPage }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a href="/photos/{{ page }}" class="page-link">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>

{% endblock %}
