{% set themeColor = themeColor %}
{% set darkMode = darkMode %}
{% extends 'base.html.twig' %}

{% block title %}Portfolio | {{ photoInfo.photo.title._content }}{% endblock %}
{% block stylesheets %}
    html body div.container div.container-fluid a {
        color: #9C27C5 !important;
        font-weight: bold;
    }
    .title {
        font-size: large;
        font-weight: lighter;
    }
{% endblock %}
{% block body %}
<div class="container">
    <div class="container-fluid">
        <a href="{{ photo }}" target="_blank" rel="noopener noreferrer"><img class="img-fluid large-img" src="{{ photo }}" alt="photo"></a><br><br>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            More
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="row">
                    <div class="float-left col-sm-1">
                        <img src="{{ avatar }}" class="rounded-circle mx-auto d-block" style="margin: 0 !important;" alt="...">
                    </div>
                    <div class="col-sm-7">
                        <p class="display-4">{{ name }}</p>
                        <p class="title">{{ photoInfo.photo.title._content }}</p><hr>
                        <p>{{ photoInfo.photo.description._content }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p>{{ photoInfo.photo.views }} views<br>{{ faves }} favorites<br>{{ photoInfo.photo.comments._content }} {{ commentCount }}</p>
                    </div>
                    <div class="col-sm-auto">
                        <a href="{{ photoInfo.photo.urls.url.0._content }}" style="float: right;">See it on Flickr</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if comments.comments.comment != '' %}
                            {% for comments in comments.comments.comment %}
                                <a href="https://www.flickr.com/photos/{{ comments.author }}">{{ comments.authorname }}</a> : {{ comments._content }} <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
